[submodule "lib/pmem-rocksdb"]
	path = lib/pmem-rocksdb
	url = https://github.com/GlitterIsMe/pmem-rocksdb.git
	branch = developing
[submodule "lib/cceh"]
	path = lib/cceh
	url = https://github.com/GlitterIsMe/CCEH.git
	branch = var_length_key
[submodule "lib/utree"]
	path = lib/utree
	url = https://github.com/GlitterIsMe/nvm-datastructure.git
	branch = with-ff
[submodule "lib/viper"]
	path = lib/viper
	url = https://github.com/GlitterIsMe/viper.git
[submodule "lib/hikv"]
	path = lib/hikv
	url = https://github.com/GlitterIsMe/open_hikv.git
	branch = developing
[submodule "lib/new-metakv"]
	path = lib/new-metakv
	url = git@github.com:HUSTERGS/MetaKV.git
[submodule "lib/HybridHash"]
	path = lib/HybridHash
	url = git@github.com:minxinhao/HybridHash.git
[submodule "lib/metakv"]
	path = lib/metakv
	url = git@github.com:Junkrat77/metakv.git
