[submodule "lib/pmem-rocksdb"]
	path = lib/pmem-rocksdb
	url = https://github.com/GlitterIsMe/pmem-rocksdb.git
	branch = developing
[submodule "lib/cceh"]
	path = lib/cceh
	url = https://github.com/GlitterIsMe/CCEH.git
	branch = var_length_key
[submodule "lib/utree"]
	path = lib/utree
	url = https://github.com/GlitterIsMe/nvm-datastructure.git
	branch = variable_length
[submodule "lib/viper"]
	path = lib/viper
	url = https://github.com/GlitterIsMe/viper.git
[submodule "lib/hikv"]
	path = lib/hikv
	url = https://github.com/GlitterIsMe/open_hikv.git
	branch = lib
[submodule "lib/metakv"]
	path = lib/metakv
	url = https://github.com/HUSTERGS/MetaKV.git
	branch = zyw
[submodule "lib/new-metakv"]
	path = lib/new-metakv
	url = https://github.com/HUSTERGS/MetaKV.git
	branch = zyw-new-layout
